<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" xmlns="http://www.w3.org/1999/html">
  <!-- Sidebar Start -->
  <app-back-header></app-back-header>
  <!--  Sidebar End -->
  <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->

    <!--  Header End -->
    <div class="container-fluid">

      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <div class="card-body p-4">
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Category List</h5>
        <div class="table-responsive">
          <table class="table table-bordered table-hover align-middle">
            <thead class="table-light">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Category Name</th>
                <th scope="col">Category Description</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let c of listCategory'>
                <td>{{c.categoryId}}</td>
                <td>{{c.nom}}</td>
                <td>{{c.description}}</td>
                <td>
                  <button type="button" class="btn btn-primary me-2" (click)="editCategory(c)">Edit</button>
                  <button type="button" class="btn btn-danger-custom" (click)="deleteCategory(c.categoryId)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
            </div></div></div></div></div></div></div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Edit Category</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="categoryName">Category Name</label>
      <input type="text" class="form-control" id="categoryName" [(ngModel)]="category.nom">
    </div>
    <div class="form-group">
      <label for="categoryDescription">Category Description</label>
      <textarea class="form-control" id="categoryDescription" rows="3" [(ngModel)]="category.description"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
    <button type="button" class="btn btn-primary" (click)="saveChanges()">Save changes</button>
  </div>
</ng-template>
