<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" xmlns="http://www.w3.org/1999/html">
  <!-- Sidebar Start -->
  <app-back-header></app-back-header>
  <!--  Sidebar End -->
  <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->

    <!--  Header End -->
    <div class="container-fluid">

      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <div class="card-body p-4">
<form>
    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" id="image" name="image" (change)="onImageSelected($event)">
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </form>
            </div></div></div></div></div></div></div>
