<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" xmlns="http://www.w3.org/1999/html">
  <!-- Sidebar Start -->
  <app-back-header></app-back-header>
  <!--  Sidebar End -->
  <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->

    <!--  Header End -->
    <div class="container-fluid">

      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <div class="card-body p-4">
              <h5 class="card-title fw-semibold mb-4">Users List</h5>
              <div class="table-responsive">
                <table class="table text-nowrap mb-0 align-middle">
                  <thead class="text-dark fs-4">
                  <tr>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Id</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">FullName</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Role</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Email</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Mobile</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Status</h6>
                    </th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let user of users">
                  <tr>
                    <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{user.id}}</h6></td>
                    <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-1">{{user.firstName}} {{user.lastName}} </h6>

                    </td>
                    <td class="border-bottom-0">
                      <p >{{user.role}}</p>
                    </td>
                    <td class="border-bottom-0">
                      <div class="d-flex align-items-center gap-2">
                        <span >{{user.email}}</span>
                      </div>
                    </td>
                    <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-0 fs-4">{{user.mobile}}</h6>
                    </td>
                    <td class="border-bottom-0">
                      <div class="d-flex align-items-center gap-2">
                        <span >Verified</span>
                      </div>

                    </td>
                    <td class="border-bottom-0">
                      <a  class="btn btn-secondary m-1 btn-sm" href="admin/addUser">  Add Admin</a>
                     <a class="btn btn-danger m-1 btn-sm" href="admin/User">User details</a>
                    </td>

                  </tr>

                  </tbody>
                </table>

              </div>
            </div>

          </div>
        </div>
      </div>



          </div>
        </div>
      </div>



