
<link rel="stylesheet" href="/assets/css/styles.min.css" />
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="card-body p-4">
          <h5 class="card-title fw-semibold mb-4">Users List</h5>
          <div class="table-responsive">
            <table class="table text-nowrap mb-0 align-middle">
              <thead class="text-dark fs-4">
              <tr>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Id</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">FirstName</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">LastName</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Email</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Mobile</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Status</h6>
                </th>
              </tr>
              </thead>
              <tbody *ngFor="let user of users">
              <tr>
                <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{user.id}}</h6></td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-1">{{user.firstName}}  </h6>

                </td>
                <td class="border-bottom-0">
                  <p class="fw-semibold mb-1">{{user.lastName}}</p>
                </td>
                <td class="border-bottom-0">
                  <div class="d-flex align-items-center gap-2">
                    <span class="badge bg-primary rounded-3 fw-semibold">{{user.email}}</span>
                  </div>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0 fs-4">{{user.mobile}}</h6>
                </td>
                <td class="border-bottom-0">
                  <div class="d-flex align-items-center gap-2">
                    <span class="badge bg-primary rounded-6 ">Verified</span>
                  </div>

                </td>
                <td class="border-bottom-0">
                 <a [routerLink]="['profile']" class="btn btn-secondary m-1">   User Details</a>
                  <button type="button" class="btn btn-danger m-1" (click)="deleteUser(user)">Delete  User</button>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
        </div>

      </div>
    </div>
  </div>


